body{
    background-color: #181C14;
    color: white;
}

p{
    margin-bottom: 0;
}

.c-tabel{
    background-color: #3C3D37;
    width: 85vw;    
    border: none !important;
    border-radius: .5rem;
    margin: 2rem 0;
    &_item{
        border-bottom: .1rem #181C14 solid;
        &-rank{
            padding: 1rem 0 1rem 1rem;
            max-width: 100px;
        }
    }
    &_button{
        background-color: transparent !important;
        border: none !important;
    }
    &_img{
        width: 15%;
        flex-shrink: 0;
        margin-left: 1rem;
        border-radius: .5rem;
    }
}

.c-button{
    background-color: #ECDFCC;
    color: #3C3D37;
    padding: .5rem;
    border: none !important;
    border-radius: .5rem;
    &_reset{
    }
    &_match{
        padding: 0.5rem;
    }
}

.c-match{
    margin-bottom: 3rem;
}

.c-form{
    margin-bottom: 3rem;
    &_input{
        color: white ;
        background-color: #697565;
        border-radius: .5rem;
        border: none !important;
        padding: .5rem;
        margin-right: 2rem;
        &::placeholder{
            color: white !important;
        }
        &-loser{
            margin-left: 2rem;
        }
    }
    &_label{
        &-lose{
            margin-left: 2rem;
        }
    }
    &_item{
        display: flex !important;
        flex-flow: column;
    }
}

.c-title{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.c-result_tag{
    margin-top: 2rem;
}

.c-podium{
    margin-top: 3rem;
    margin-bottom: 5rem;
    &_title{
        margin-bottom: 2rem;
    }
    &_img{
        width: 25%;
        border-radius: .5rem;
    }
    &_name{
        font-size: 1.2rem;
    }
    &_place{
        display: flex;
        flex-flow: column;
        align-items: center;
        &-1{
            
        }
        &-2{
            margin-top: 3rem;
        }
        &-3{
            margin-top: 6rem;
        }
    }
}